* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

/* Navbar */

.navbar-bg {
  background-image: url(./Image/banner-bg.png);
  background-size: cover;
}

/* Hero */

.hero-bg {
  background-image: url(./Image/banner-bg.png);
  background-size: cover;
}

/* Custumer */

.custumer-box {
  box-shadow: 0px 0px 71px 55px rgba(255, 255, 255, 0.75);
}

/* Our Service */

.service-bg {
  background-image: url(./Image/service-bg.png);
  background-size: cover;
}

.service-box {
  transition: all 1s;
}
.service-box:hover {
  box-shadow: 0px 0px 49px 11px rgba(0, 0, 0, 0.75);
  background-color: white;
}

/* About */

.about-bg {
  background-image: url(./Image/about-bg.png);
  background-size: cover;
}

/* Contact */

.contact-bg {
  background-image: url(./Image/service-bg.png);
  background-size: cover;
}

/* Blogs */

.blogs-bg {
  background-image: url(./Image/service-bg.png);
  background-size: cover;
}
